.jumbotron {
    background-color: #877cfc;
    height: 100px;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron p {
}

. card {
    padding: 40px 40px;
    margin-left: 40px;
    margin-right: 40px;
}