{% extends "index.html" %}

{% block content %}
<div class="jumbotron" style="background-image: url('/static/pics/tra_back.jpg'); background-size: cover; background-position: center;">
    <div class="container">
      <h1 style="font-weight: bold;">Zajęcia</h1>
        <p>Przeglądaj listę zajęć, usuwaj nieaktualne kursy oraz dodawaj nowe.</p>
      <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Dodaj kurs
  </a></p>
    </div>
</div>

<div class="container" style="margin-bottom: 20px;">
<div class="collapse" id="collapseExample">
  <div class="container" style="background-color:">
    <div class="container" style="padding: 20px;">
        <h4 style="">Nowy kurs</h4>
    </div>
    <form action="/courses/0" method="POST">
        <div class="table-section" style="margin-left: 20px; margin-right: 20px;">
         <div class="row">
             <div class="col-sm-3" style="padding: 0px;">
                 <table class="table table-striped  table-bordered table-light" style="padding: 0px; background-color: #ffbdfa;">
                     <tr>
                         <td><h6>Nazwa</h6></td>
                     </tr>
                     <tr>
                         <td style="height: 8rem;"><h6>Instruktorzy</h6></td>
                     </tr>
                 </table>
             </div>
             <div class="col-sm-3" style="padding: 0px;">
                 <table class="table table-striped table-bordered table-light" style="padding: 0px; background-color: #ffd9fc">
                     <tr>
                         <td>{{ form.name(class = "form-control") }}</td>
                     </tr>
                     <tr>
                         <td style="height: 8rem;">{{ form.instructors(class = "form-control") }}</td>
                     </tr>
                 </table>
             </div>
         </div>
            <input type="submit" class="btn btn-primary" value="Dodaj">
    </div>
    </form>

</div>
</div>
</div>

<div class="container">
    <div class="container" style="padding: 20px;">
        <h3 style="">Zajęcia</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
             <div class="container">
                 <div class="table-section">
                <table class="table table-striped table-hover table-bordered table-light" style="background-color: #ffd9fc">
                    <thead>
                        <tr style="background-color: #ffbdfa">
                            <td><h6>Nazwa zajęć</h6></td>
                            <td><h6>Prowadzący</h6></td>
                            <td><h6>Uczestnicy</h6></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for course in courses[:3] %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{% for instructor in course.instructors %} {{ instructor.name }}, {% endfor %}</td>
                        <td><button type="button" class="btn" style="background-color: #f87efc" data-toggle="popover" data-trigger="hover"
                            data-placement="right" title="Lista uczęszczających"
                            data-content="{% for user in course.users %} {{ user.name }}, {% endfor %}">Pokaż</button></td>
                        <td>
                            <form action="/delete-course/{{ course.id }}" method="POST">
                                <input type="submit" class="btn btn-danger" value="Usuń">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
             </table>
            </div>
            </div>
             </div>
        <div class="col-lg-6">
            <div class="container">
                <div class="table-section">
                <table class="table table-striped table-hover table-bordered table-light" style="background-color: #ffd9fc">
                    {% if courses[4:] %}
                    <thead>
                        <tr style="background-color: #ffbdfa">
                            <td><h6>Nazwa zajęć</h6></td>
                            <td><h6>Prowadzący</h6></td>
                            <td><h6>Uczestnicy</h6></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for course in courses[4:] %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{% for instructor in course.instructors %} {{ instructor.name }}, {% endfor %}</td>
                        <td><button type="button" class="btn" style="background-color: #f87efc" data-toggle="popover" data-trigger="hover"
                            data-placement="right" title="Lista uczęszczających"
                            data-content="{% for user in course.users %} {{ user.name }}, {% endfor %}">Pokaż</button></td>
                        <td>
                            <form action="/delete-course/{{ course.id }}" method="POST">
                                <input type="submit" class="btn btn-danger" value="Usuń">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% else %}
                    <p></p>
                    {% endif %}
             </table>
            </div>
    </div>
            </div>
        </div>

<div class="container">

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if num==0 %}
                    <a class="page-link" href="/courses/{{ num }}" aria-label="Previous" class="page-link">
                        {% else %}
                        <a href="/courses/{{ num-1 }}" aria-label="Previous" class="page-link">
                            {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                </li>

                {% for i in range(courses_num) %}
                {% if num==i%}
                    <li class="page-item active"><a href="/courses/{{ i }}" class="page-link">{{ i+1 }}</a></li>
                {% else %}
                    <li class="page-item"><a href="/courses/{{ i }}" class="page-link">{{ i+1 }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="page-item">
                    {% if num!=courses_num-1 %}
                    <a href="/courses/{{ num+1 }}" aria-label="Next" class="page-link">
                        {% else %}
                        <a href="/courses/{{ num }}" aria-label="Next" class="page-link">
                            {% endif %}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

</div>
{% endblock %}