<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Fitness Club</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
  <style>

.table tr {
  height: 4rem;
}

.jumbotron {
    height: auto;
}

.jumbotron h1 {
    font-weight: bold;
}

. card {
    padding: 40px 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.pagination {
  justify-content: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="nav-link" href="/">Fitness Club</a>
      <ul class="navbar-nav mr-auto" style="text-align: left">
        {% for nav in navs %}
        <li class="nav-item">
          {% if route == nav[1] %}
          <a class="nav-link active" href="{{ nav[1] }}">{{ nav[0] }}
            {% else %}
            <a class="nav-link" href="{{ nav[1] }}">{{ nav[0] }}
              {% endif %}
              {% if nav[0] == "Strona główna" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      <form class="form-inline my-2 my-lg-0" action="/" method="POST">
        <p class="nav-item navbar-nav mr-auto">{{ search_form.name(class="form-control") }}</p>
        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit" style="margin-right: 10px;">Szukaj</button>
     </form>

       {% if session.logged_in %}
     <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('logout') }}">
        <button class="btn btn-primary btn-sm my-2 my-sm-0" type="submit">Wyloguj</button>
     </form>
       {% else %}
       <a href="{{ url_for('login') }}" class="btn btn-primary my-2 my-lg-0">Zaloguj</a>
       {% endif %}
   </div>

    </div>
  </nav>


  <!-- Page Content -->
  {% block content %}
  {% endblock %}
  <div class="container">
    <div class="footer" style="text-align: center; font-size: 10px; padding: 20px;">
        <p>Copyright &copy; Agata Chałupka <br> Wszelkie prawa zastrzeżone</p>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script>
    $("[data-toggle=popover]").popover();
    $(document).ready(function() {
    $('#name').select2({  // init Select2 on search_form's name field
        placeholder: "Szukaj",
        allowClear: true,
        selectOnClose: true,
    });
});
  </script>
</body>
</html>
