{% extends "index.html" %}

{% block content %}
<div class="jumbotron" style="background-image: url('/static/pics/gra_11.jpg'); background-size: cover; background-position: center;">
    <div class="container">
      <h1 style="font-weight: bold;">Trenerzy</h1>
      <p>Tu znajdziesz listę trenerów. Możesz edytować istniejące dane, usuwać pracowników a także dodać nowego specjalistę.</p>
        <a href="/add-edit-trainer/{{ new_id }}"><button class="btn btn-primary">Nowy trener</button></a>
    </div>
</div>

<div class="container" style="padding: 20px;">
    <div class="container">
        <h3 style="">Lista trenerów</h3>
    </div>
    <div class="table-section">
       <table class="table table-striped table-hover table-bordered table-light" style="background-color: #d6f5f5;">
           <thead>
            <tr style="background-color: #ace6e0;">
                <td><h5>id</h5></td>
                <td><h5>Imię</h5></td>
                <td><h5>Trener personalny</h5></td>
                <td><h5>Trenowani uczestnicy</h5></td>
                <td><h5>Prowadzone zajęcia</h5></td>
                <td></td>
            </tr>
           </thead>
           <tbody>
           {% for trainer in trainers %}
            <tr>
                <td>{{ trainer.id }}</td>
                <td><a href="/add-edit-trainer/{{ trainer.id }}">{{ trainer.name }}</a></td>
                <td>{% if trainer.personal==True %}Tak{% else %}Nie{% endif %}</td>
                <td><button type="button" class="btn btn-info" data-toggle="popover" data-trigger="hover"
                            data-placement="right" title="Uczestnicy pod opieką trenera"
                            data-content="{% for trainee in trainer.trainees %} {{ trainee.name }}, {% endfor %}">Lista uczestników</button></td>
                <td>{% for c in trainer.classes %} {{ c.name }}, {% endfor %}</td>
                <td>
                    <form action="/delete-trainer/{{ trainer.id }}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Usuń">
                    </form>
                </td>
            </tr>
           {% endfor %}
           </tbody>
       </table>
    </div>
</div>


<div class="container">

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if num==0 %}
                    <a href="/trainers/{{ num }}" aria-label="Previous" class="page-link">
                        {% else %}
                        <a href="/trainers/{{ num-1 }}" aria-label="Previous" class="page-link">
                            {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                </li>

                {% for i in range(trainers_num) %}
                {% if num==i %}
                    <li class="page-item active"><a href="/trainers/{{ i }}" class="page-link">{{ i+1 }}</a></li>
                {% else %}
                    <li class="page-item"><a href="/trainers/{{ i }}" class="page-link">{{ i+1 }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="page-item">
                    {% if num!=trainers_num-1 %}
                    <a href="/trainers/{{ num+1 }}" aria-label="Next" class="page-link">
                        {% else %}
                        <a href="/trainers/{{ num }}" aria-label="Next" class="page-link">
                            {% endif %}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
</div>

{% endblock %}