<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dane uczestnika</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
<div>
<form action="/users/{{ user.id }}" method="POST">
    <table>
        <thead>
            <tr>
                <td>Imię</td>
                <td>Aktywny</td>
                <td>Abonament</td>
                <td>Trener personalny</td>
                <td>Zajęcia</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form.name }}</td>
                <td>{{ form.active }}</td>
                <td>{{ form.subscription }}</td>
                <td>{{ form.trainer }}</td>
                <td>{{ form.courses }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Zmień">
</form>
    <br>
    <form action="/delete-user/{{ user.id }}" method="POST">
        <input type="submit" value="Usuń uczestnika">
    </form>

</div>

</body>
</html>